<!DOCTYPE html>
<html>
	<head>
		<title>Twitter Clone Sign-In</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<script type="text/javascript" src = "../public/application.js"></script>

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href = "../public/custom.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" display = "inline-block" href="#">
						Twitter Clone
					</a>
				</div>
			</div>
		</nav>
		<div class="container col-xs-4 col-xs-offset-1">
			<h1>Welcome to Twitter Clone</h1>
			<p>Lorem ipsum Id sit aute occaecat dolor anim sit elit dolore velit mollit in irure reprehenderit dolor veniam non adipisicing laborum ut dolor mollit qui est elit pariatur adipisicing ut voluptate aute et esse sit in reprehenderit est cupidatat Excepteur sint Duis sunt sit commodo ad dolore Duis sunt aliqua aute Duis mollit et ut occaecat aute est in cupidatat in proident et commodo enim in do proident consequat minim labore eiusmod</p>
		</div>
		<div id="signSheet" class="container col-xs-4 col-xs-offset-2">
			<div class="text-center">
				<h1>User Sign-In Page</h1>
			</div>
			<div id="signUp">
				<h3>Sign Up</h3>
				<input class = "col-xs-12" type="text" id="signUpEmail" placeholder="Email">
				<input class = "col-xs-12" type="text" id="signUpName" placeholder="Name">
				<input class = "col-xs-12" type="text" id="signUpUsername" placeholder="Username">
				<input class = "col-xs-12" type="password" id="signUpPassword" placeholder="Password">
				<button class="btn btn-success col-xs-12" type="button" id="signUpSubmit">Sign Up</button>
			</div>
			<div id="signIn">
				<h3>Sign In</h3>
				<input class = "col-xs-12" type="text" id="signInUsername" placeholder="Username">
				<input class = "col-xs-12" type="password" id="signInPassword" placeholder="Password">
				<button class="btn btn-primary col-xs-12" type="button" id="signInSubmit">Sign In</button>
			</div>
		</div>
	</body>
</html>